In [1]:
from utils.class_patient import Patients


patients = Patients()
splitedPatients = patients.split(5, 27)

In [7]:
len(splitedPatients[4].patientList)

242

In [8]:
def trainTest():
    for i in range(splitedPatients.__len__()):
        testPatients = splitedPatients[i]
        
        trainPatientsList = splitedPatients[:i] + splitedPatients[i+1:]
        trainPatients = Patients(patients=[])
        for trainPatientsElem in trainPatientsList:
            trainPatients += trainPatientsElem
        
        yield trainPatients, testPatients

In [9]:
for trainPatients, testPatients in trainTest():
    print(len(trainPatients.patientList), len(testPatients.patientList))

970 243
970 243
970 243
971 242
971 242

In [5]:
train, test = trainTest().send(None)

In [6]:
from pandas import Timedelta


train.getMeasuresBetween(Timedelta(hours=0), Timedelta(hours=1))

,subject_id,hadm_id,stay_id,akd,ag,age,bg,bicarbonate,bun,calcium,...,lymphocyte,macroangiopathy,height,hypertension,hba1c,use_NaHCO3,albumin,history_aci,crp,mechanical_ventilation
0,19277038,20027438,30213832,False,34.0,64,795.0,7.0,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,10924444,20065893,31555593,False,30.0,23,261.0,7.0,17.0,9.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,11236474,20146147,34965843,True,NaN,40,NaN,NaN,NaN,NaN,...,4.347,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,18135181,20173681,30217596,True,14.0,54,304.0,23.0,15.0,8.3,...,0.544,NaN,198.0,True,NaN,NaN,NaN,NaN,NaN,NaN
0,16815664,20240670,37751533,False,NaN,42,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,14195052,29820120,30975220,False,NaN,26,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,12019706,29822163,32302734,False,25.0,67,735.0,17.0,36.0,8.1,...,0.610,True,NaN,NaN,NaN,NaN,3.1,NaN,NaN,1.0
0,19299449,29884306,39128045,True,NaN,72,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,18624988,29915993,31559071,True,19.0,82,508.0,19.0,54.0,7.5,...,2.000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
0,11389314,29991667,30620060,False,20.0,54,396.0,22.0,5.0,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN