### Import most libraries needed

In [14]:
import pandas as pd
from datetime import datetime
from pathlib import Path

### Define most constants needed

In [15]:
# Define ICD-9/10 codes for DKA
dka_code9 = ["25010", "25011", "25012", "25013"] 
dka_code10 = ["E1010", "E1011", "E1021", "E1022", "E1110", "E1111", "E1121", "E1122"]

# Define CKD stage 5 codes
ckd5_code9 = ["5856", "75313"]
ckd5_code10 = ["N185", "N186"]


# mimic PATH (in which there are hosp and icu data)
MIMIC_PATH = Path("../mimiciv2.2/")

### Filter patients 
1. Only patients that caught DKA
1. Filtering repeated admissions during one hospitalization, take first
1. Remove patients with more than 20% missing data

#### Read icd_code

In [16]:
df_diagnoses_icd = pd.read_csv(str(MIMIC_PATH/"hosp"/"diagnoses_icd.csv"))
df_diagnoses_icd.dtypes

subject_id      int64
hadm_id         int64
seq_num         int64
icd_code       object
icd_version     int64
dtype: object

In [17]:
# refine some column data
df_diagnoses_icd["icd_code"] = df_diagnoses_icd["icd_code"].astype(str)
df_diagnoses_icd["icd_version"] = df_diagnoses_icd["icd_version"].astype(int)

df_diagnoses_icd.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

#### Only patients that caught DKA

In [18]:

dka_condition = ((df_diagnoses_icd["icd_version"] == 10) & df_diagnoses_icd["icd_code"].isin(dka_code10)) | \
    ((df_diagnoses_icd["icd_version"] == 9) & (df_diagnoses_icd["icd_code"].isin(dka_code9)))

df_dka_diagnoses = df_diagnoses_icd[dka_condition]
df_dka_diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
235        10000980  20897796        5    E1122           10
358        10000980  29659838        4    E1121           10
922        10002013  21763296        2    E1110           10
923        10002013  21763296        3    E1122           10
1055       10002013  25442395       25    E1122           10
...             ...       ...      ...      ...          ...
4753469    19993951  28863685        5    E1122           10
4754014    19995012  27305089        3    E1121           10
4754479    19996654  26946592        8    E1122           10
4755147    19997538  22701415       14    E1121           10
4756256    19999828  25744818        2    E1110           10

[15026 rows x 5 columns]

#### CKD stage 5 dianogses

In [19]:
ckd5_condition = ((df_diagnoses_icd["icd_version"] == 9) & df_diagnoses_icd["icd_code"].isin(ckd5_code9)) | \
    ((df_diagnoses_icd["icd_version"] == 10) & df_diagnoses_icd["icd_code"].isin(ckd5_code10))

df_ckd_diagnoses = df_diagnoses_icd[ckd5_condition]
df_ckd_diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
3570       10005749  24979738        2     5856            9
5324       10010471  21322534        2     N186           10
5340       10010471  29842315        2     N186           10
5724       10011427  20083129        2     N186           10
5739       10011427  20219031        4     N186           10
...             ...       ...      ...      ...          ...
4746123    19977310  24802720        3     5856            9
4746150    19977310  25212681        6     5856            9
4747336    19979982  23908472        2     N186           10
4748842    19984992  29117747        6     5856            9
4751222    19989783  26984195        4     N186           10

[14674 rows x 5 columns]

#### Exclude all admission with CKD 5

In [20]:
df_dka_diagnoses_exclude_ckd5 = df_dka_diagnoses[~df_dka_diagnoses["hadm_id"].isin(df_ckd_diagnoses["hadm_id"])]
df_dka_diagnoses_exclude_ckd5

         subject_id   hadm_id  seq_num icd_code  icd_version
235        10000980  20897796        5    E1122           10
358        10000980  29659838        4    E1121           10
922        10002013  21763296        2    E1110           10
923        10002013  21763296        3    E1122           10
1055       10002013  25442395       25    E1122           10
...             ...       ...      ...      ...          ...
4753469    19993951  28863685        5    E1122           10
4754014    19995012  27305089        3    E1121           10
4754479    19996654  26946592        8    E1122           10
4755147    19997538  22701415       14    E1121           10
4756256    19999828  25744818        2    E1110           10

[11243 rows x 5 columns]

#### Exclude multiple admission
TODO: check legitimate of this action 

1. read icu stay
1. group by admission id (hadm_id), get first "intime"
1. join with data above by hadm

##### read data and sort

In [21]:
icu_stays = pd.read_csv(MIMIC_PATH/"icu"/"icustays.csv")
icu_stays["intime"] = pd.to_datetime(icu_stays["intime"])
icu_stays_sorted_hadm_intime = icu_stays.sort_values(["hadm_id", "intime"])
icu_stays_sorted_hadm_intime

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
29725,14046553,20000094,35605481,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2150-03-02 15:19:31,2150-03-03 11:28:38,0.839664
36494,14990224,20000147,30503572,Coronary Care Unit (CCU),Cardiac Vascular Intensive Care Unit (CVICU),2121-08-30 16:33:54,2121-08-31 21:29:49,1.205498
57827,17913090,20000351,30593599,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2145-06-13 20:10:27,2145-06-14 16:49:38,0.860544
49725,16788749,20000808,35191063,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2180-01-12 22:07:00,2180-01-13 13:36:47,0.645683
49724,16788749,20000808,30610654,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2180-01-17 19:32:10,2180-01-19 20:40:36,2.047523
...,...,...,...,...,...,...,...,...
34051,14641622,29999186,32199257,Trauma SICU (TSICU),Trauma SICU (TSICU),2135-07-12 01:51:00,2135-07-14 13:39:32,2.492037
370,10053207,29999444,31112026,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2199-12-14 19:52:26,2199-12-17 23:22:57,3.146192
25498,13478841,29999498,33874605,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2188-05-13 12:03:00,2188-05-14 16:56:15,1.203646
2522,10355856,29999625,36975675,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Intermediate,2157-11-07 11:51:00,2157-11-29 15:00:36,22.131667
48178,16572164,29999828,31355796,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2180-10-28 09:54:07,2180-10-29 16:32:32,1.276678

##### remove dup hadm_id

In [22]:


first_admissions = icu_stays_sorted_hadm_intime.drop_duplicates(subset="hadm_id", keep="first")
first_admissions

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
29725,14046553,20000094,35605481,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2150-03-02 15:19:31,2150-03-03 11:28:38,0.839664
36494,14990224,20000147,30503572,Coronary Care Unit (CCU),Cardiac Vascular Intensive Care Unit (CVICU),2121-08-30 16:33:54,2121-08-31 21:29:49,1.205498
57827,17913090,20000351,30593599,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2145-06-13 20:10:27,2145-06-14 16:49:38,0.860544
49725,16788749,20000808,35191063,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2180-01-12 22:07:00,2180-01-13 13:36:47,0.645683
44050,16003661,20001305,36916968,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2178-03-25 02:59:09,2178-03-27 21:46:10,2.782650
...,...,...,...,...,...,...,...,...
34051,14641622,29999186,32199257,Trauma SICU (TSICU),Trauma SICU (TSICU),2135-07-12 01:51:00,2135-07-14 13:39:32,2.492037
370,10053207,29999444,31112026,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2199-12-14 19:52:26,2199-12-17 23:22:57,3.146192
25498,13478841,29999498,33874605,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2188-05-13 12:03:00,2188-05-14 16:56:15,1.203646
2522,10355856,29999625,36975675,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Intermediate,2157-11-07 11:51:00,2157-11-29 15:00:36,22.131667
48178,16572164,29999828,31355796,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2180-10-28 09:54:07,2180-10-29 16:32:32,1.276678

##### join admission

In [23]:
df_pre_processed_patients = df_dka_diagnoses_exclude_ckd5.merge(
        first_admissions, on="hadm_id", how="inner"
)
df_pre_processed_patients

,subject_id_x,hadm_id,seq_num,icd_code,icd_version,subject_id_y,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10013310,22098926,19,E1122,10,10013310,32769810,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Intermediate,2153-06-10 11:55:42,2153-06-16 19:03:14,6.296898
1,10015834,25193617,10,E1122,10,10015834,38045063,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2156-12-13 12:35:28,2156-12-15 17:11:32,2.191713
2,10015860,25085565,2,25012,9,10015860,32496174,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2186-09-15 17:15:00,2186-09-16 11:17:40,0.751852
3,10015931,22130791,15,E1122,10,10015931,37093652,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2177-03-24 21:48:07,2177-03-29 18:03:36,4.844086
4,10015931,24420677,6,E1122,10,10015931,38137964,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2176-12-22 16:24:33,2176-12-23 20:14:53,1.159954
...,...,...,...,...,...,...,...,...,...,...,...,...
3202,19982989,27049214,7,E1122,10,19982989,33137454,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2151-01-31 14:16:00,2151-02-02 00:53:15,1.442535
3203,19982989,28630229,17,E1122,10,19982989,39524779,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2150-12-17 15:35:00,2150-12-18 20:31:34,1.205949
3204,19989302,21980453,1,E1110,10,19989302,34725536,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2127-11-11 21:09:00,2127-11-14 03:24:14,2.260579
3205,19991135,22171650,11,E1122,10,19991135,32424535,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2132-12-24 10:17:40,2132-12-25 18:00:18,1.321273
3206,19999828,25744818,2,E1110,10,19999828,36075953,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2149-01-08 18:12:00,2149-01-10 13:11:02,1.790995

In [ ]:
if True:
    
    

    # Exclude patients with repeated ICU admissions
    icu_stays = pd.read_csv(f"{mimic_path}/ICUSTAYS.csv")
    icu_stays["ICU_IN_TIME"] = pd.to_datetime(icu_stays["ICU_IN_TIME"])
    first_admissions = icu_stays.groupby("SUBJECT_ID").agg(
        first_icu_admission=("ICU_IN_TIME", "min")
    )
    first_admissions.reset_index(inplace=True)
    df_dka_diagnoses = df_dka_diagnoses.merge(
        first_admissions, on="SUBJECT_ID", how="inner"
    )
    df_dka_diagnoses = df_dka_diagnoses.merge(
        icu_stays, on=["SUBJECT_ID", "ICUSTAY_ID"], how="inner"
    )

    # Exclude patients with more than 20% missing data
    # TODO: Implement missing data calculation and filtering




# Example usage
dka_patients_df = filter_dka_patients("../mimiciv2.2/hosp")
print(f"Number of filtered DKA patients: {len(dka_patients_df)}")